<?xml version="1.0" encoding="UTF-8"?>
<web-app version="4.0" xmlns="http://xmlns.jcp.org/xml/ns/javaee" xmlns:xsi="http://www.w3.org/2001/XMLSchema-instance" xsi:schemaLocation="http://xmlns.jcp.org/xml/ns/javaee http://xmlns.jcp.org/xml/ns/javaee/web-app_4_0.xsd">
    <welcome-file-list>
        <welcome-file>accueil.jsp</welcome-file>
    </welcome-file-list>
    <servlet>
        <servlet-name>SearchController</servlet-name>
        <servlet-class>com.ourproject.portail.controller.SearchController</servlet-class>
    </servlet>
    <servlet>
        <servlet-name>ShowAllUser</servlet-name>
        <servlet-class>com.ourproject.portail.controller.ShowAllUser</servlet-class>
    </servlet>
    <servlet>
        <servlet-name>ConnexionAdminController</servlet-name>
        <servlet-class>com.ourproject.portail.controller.ConnexionAdminController</servlet-class>
    </servlet>
    <servlet>
        <servlet-name>AddProject</servlet-name>
        <servlet-class>com.ourproject.portail.controller.AddProject</servlet-class>
    </servlet>
    <servlet>
        <servlet-name>ProjetController</servlet-name>
        <servlet-class>com.ourproject.portail.controller.ProjetController</servlet-class>
    </servlet>
    <servlet>
        <servlet-name>SuppUser</servlet-name>
        <servlet-class>com.ourproject.portail.controller.SuppUser</servlet-class>
    </servlet>
    <servlet>
        <servlet-name>AddUtilisateur</servlet-name>
        <servlet-class>com.ourproject.portail.controller.AddUtilisateur</servlet-class>
    </servlet>
    <servlet>
        <servlet-name>AddNoteCour</servlet-name>
        <servlet-class>com.ourproject.portail.controller.AddNoteCour</servlet-class>
    </servlet>
    <servlet>
        <servlet-name>ConnexionController</servlet-name>
        <servlet-class>com.ourproject.portail.controller.ConnexionController</servlet-class>
    </servlet>
    <servlet>
        <servlet-name>InscriptionServlet</servlet-name>
        <servlet-class>com.ourproject.portail.controller.InscriptionServlet</servlet-class>
    </servlet>
    <servlet>
        <servlet-name>DeconnexionController</servlet-name>
        <servlet-class>com.ourproject.portail.controller.DeconnexionController</servlet-class>
    </servlet>
    <servlet>
        <servlet-name>SuppProjet</servlet-name>
        <servlet-class>com.ourproject.portail.controller.SuppProjet</servlet-class>
    </servlet>
    <servlet>
        <servlet-name>SuppNote</servlet-name>
        <servlet-class>com.ourproject.portail.controller.SuppNote</servlet-class>
    </servlet>
    <servlet>
        <servlet-name>NoteController</servlet-name>
        <servlet-class>com.ourproject.portail.controller.NoteController</servlet-class>
    </servlet>
    <servlet>
        <servlet-name>ProfileController</servlet-name>
        <servlet-class>com.ourproject.portail.controller.ProfileController</servlet-class>
    </servlet>
    <servlet-mapping>
        <servlet-name>SearchController</servlet-name>
        <url-pattern>/SearchController</url-pattern>
    </servlet-mapping>
    <servlet-mapping>
        <servlet-name>ShowAllUser</servlet-name>
        <url-pattern>/ShowAllUser</url-pattern>
    </servlet-mapping>
    <servlet-mapping>
        <servlet-name>ConnexionAdminController</servlet-name>
        <url-pattern>/ConnexionAdminController</url-pattern>
    </servlet-mapping>
    <servlet-mapping>
        <servlet-name>AddProject</servlet-name>
        <url-pattern>/AddProject</url-pattern>
    </servlet-mapping>
    <servlet-mapping>
        <servlet-name>ProjetController</servlet-name>
        <url-pattern>/ProjetController</url-pattern>
    </servlet-mapping>
    <servlet-mapping>
        <servlet-name>SuppUser</servlet-name>
        <url-pattern>/SuppUser</url-pattern>
    </servlet-mapping>
    <servlet-mapping>
        <servlet-name>AddUtilisateur</servlet-name>
        <url-pattern>/AddUtilisateur</url-pattern>
    </servlet-mapping>
    <servlet-mapping>
        <servlet-name>AddNoteCour</servlet-name>
        <url-pattern>/AddNoteCour</url-pattern>
    </servlet-mapping>
    <servlet-mapping>
        <servlet-name>ConnexionController</servlet-name>
        <url-pattern>/ConnexionController</url-pattern>
    </servlet-mapping>
    <servlet-mapping>
        <servlet-name>InscriptionServlet</servlet-name>
        <url-pattern>/InscriptionServlet</url-pattern>
    </servlet-mapping>
    <servlet-mapping>
        <servlet-name>DeconnexionController</servlet-name>
        <url-pattern>/DeconnexionController</url-pattern>
    </servlet-mapping>
    <servlet-mapping>
        <servlet-name>SuppProjet</servlet-name>
        <url-pattern>/SuppProjet</url-pattern>
    </servlet-mapping>
    <servlet-mapping>
        <servlet-name>SuppNote</servlet-name>
        <url-pattern>/SuppNote</url-pattern>
    </servlet-mapping>
    <servlet-mapping>
        <servlet-name>NoteController</servlet-name>
        <url-pattern>/NoteController</url-pattern>
    </servlet-mapping>
    <servlet-mapping>
        <servlet-name>ProfileController</servlet-name>
        <url-pattern>/ProfileController</url-pattern>
    </servlet-mapping>
    <session-config>
        <session-timeout>
            30
        </session-timeout>
    </session-config>
</web-app>
