<!doctype html>
<html xmlns:th="http://www.thymeleaf.org">
<head>
    <title>Edit Utilisateur</title>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1">
    <link rel="stylesheet" href="https://www.w3schools.com/w3css/4/w3.css">
    <link rel="stylesheet" href="https://fonts.googleapis.com/css?family=Lato">
    <link rel="stylesheet" href="https://fonts.googleapis.com/css?family=Montserrat">
    <link rel="stylesheet" href="https://cdnjs.cloudflare.com/ajax/libs/font-awesome/4.7.0/css/font-awesome.min.css">

    <link rel="stylesheet" href="./style/style.css">
    <style>
        body,h1,h2,h3,h4,h5,h6 {font-family: "Lato", sans-serif}
        .w3-bar,h1,button {font-family: "Montserrat", sans-serif}
        .fa-anchor,.fa-coffee {font-size:200px}
        .mainimage{
            background-image: url(/images/technology-background-1632715.jpg);
            background-color: aliceblue;
            text-align: center;

        }
        .mainimage > h1 {
            color: white;
        }
        .mainimage > p {
            color: white;
        }
        @media (min-width: 1025px) {
            .h-custom {
                height: 100vh !important;
            }
        }
        .search-container > form{
            display:flex;
            flex-direction: row;

        }
    </style>
</head>
<body>

<div th:insert="enTete :: header"></div>

<!-- Header -->
<header class="mainimage" style="padding:128px 16px">
    <h1 class="w3-margin w3-jumbo">Edit Utilisateur</h1>
</header>

<!-- First Grid -->
<div class="w3-row-padding w3-padding-64 w3-container">
    <div class="w3-content">
        <form  th:action="@{/utilisateur/edit}" method="post" style="max-width: 700px; margin: 0 auto" enctype="multipart/form-data"
               th:object="${utilisateur}">
            <input type="hidden" th:field="*{idUtilisateur}" />
            <div class="border border-secondary rounded p-3">
                <div class="form-group row">
                    <label class="col-sm-4 col-form-label">Code permanent:</label>
                    <div class="col-sm-8">
                        <input type="hidden" th:field="*{codeP}" />
                        <h3 th:text="${utilisateur.getCodeP()}"></h3>
                    </div>
                </div>
                <div class="form-group row">
                    <label class="col-sm-4 col-form-label">Email:</label>
                    <div class="col-sm-8">
                        <input type="text" class="form-control" th:field="*{email}"  required minlength="2" maxlength="128" th:placeholder="*{email}" />
                    </div>
                </div>
                <div class="form-group">
                    <label>Ancien: </label>
                    <select id="ancient" name = "ancientOrNot" th:field="*{ancien}">
                        <option value="oui" name = "oui" th:value="${true}">oui</option>
                        <option value="non" name = "non" th:value="${false}">non</option>
                    </select>
                </div>
                <div class="form-group row">
                    <label class="col-sm-4 col-form-label">Username:</label>
                    <div class="col-sm-8">
                        <input type="text" class="form-control" th:field="*{username}"  required minlength="2" maxlength="128" th:placeholder="*{username}" />
                    </div>
                </div>
                <div class="form-group row">
                    <label class="col-sm-4 col-form-label">Nom:</label>
                    <div class="col-sm-8">
                        <input type="text" class="form-control" th:field="*{nom}" required minlength="2" maxlength="45"  th:placeholder="*{nom}"/>
                    </div>
                </div>

                <div class="form-group row">
                    <label class="col-sm-4 col-form-label">Prenom:</label>
                    <div class="col-sm-8">
                        <input type="text" class="form-control" th:field="*{prenom}" required minlength="2" maxlength="45" th:placeholder="*{prenom}" />
                    </div>
                </div>
                <div class="form-group row">
                    <label class="col-sm-4 col-form-label">Date de naissance:</label>
                    <div class="col-sm-8">
                        <h4>Veuillez ecrire dans ce format: annee/mois/jour </h4>
                        <input type="text" class="form-control" th:field="*{dateNaissance}" required minlength="10" maxlength="10"  th:placeholder="*{dateNaissance}"/>
                    </div>
                </div>
                <div class="form-group row">
                    <label class="col-sm-4 col-form-label">Mot de passe:</label>
                    <div class="col-sm-8">
                        <input  type="password" class="form-control" th:field="*{password}"
                                required minlength="8" maxlength="20"  />
                    </div>
                </div>
                <div class="form-group">
                    <label>Type d'utilisateur: </label>
                    <select id="type" name = "typeOfUser" th:field="*{type}">
                        <option value="professeur" name = "professeur"> Professeur </option>
                        <option value="etudiant" name = "etudiant"> Etudiant </option>
                    </select>
                </div>
                <div class="form-group">
                    <label>Type d'etudiant: </label>
                    <select id="typeStudent" name = "typeOfStudent" th:field="*{typeEtudiant}">
                        <option value="" name = ""> </option>
                        <option value="normal" name = "normal"> normal </option>
                        <option value="tuteur" name = "tuteur"> tuteur </option>
                        <option value="etudiantDifficulte" name = "etudiantDifficulte"> etudiantDifficulte </option>
                    </select>
                </div>
                <br>
                <div class="text-center">
                    <input type="submit" value="Entregistrer" class="btn btn-primary m-3" />
                </div>
            </div>
        </form>
    </div>
    <!-- return btn-->
    <div class="w3-row-padding w3-padding-64 w3-container">
        <div class="w3-content">
            <div class="search-container">
                <form th:action="@{/adminPanel/one}" method="get">
                    <button type="submit">Retour</button>
                </form>
            </div>
        </div>
    </div>

    <!-- Second Grid -->

    <div class="w3-container w3-black w3-center w3-opacity w3-padding-64">
        <h1 class="w3-margin w3-xlarge">Modification Utilisateur</h1>
    </div>

    <div th:insert="footer :: footer"></div>


</div>

<script>
    // Used to toggle the menu on small screens when clicking on the menu button
    function myFunction() {
        var x = document.getElementById("navDemo");
        if (x.className.indexOf("w3-show") == -1) {
            x.className += " w3-show";
        } else {
            x.className = x.className.replace(" w3-show", "");
        }
    }
</script>

</body>
</html>